<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Casa Criativa</title>
		<link rel="stylesheet" href="/styles.css"/>
		
	</head>
	
	<body>
		<h1>{{ title }}</h1>
		<div id="container">
			<section id="intro">
				<header>
					<a href="/">
						<img src="/logo.png" alt="Imagem Logomarca"/>
					</a>
				</header>
				
				<main>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem lacus, sodales eu imperdiet sit amet, congue eu neque. Mauris consequat mollis lacus, id mattis dolor pellentesque non.
					</p>
			
					<p>
						Vestibulum quis dolor suscipit, volutpat ex nec, gravida leo. Pellentesque vestibulum mollis ipsum, eu posuere lorem euismod vehicula. Phasellus ut turpis sed urna euismod vestibulum.
					</p>
			
					<p>
						Fusce eu fringilla dui, eu pellentesque mi. Vestibulum quis dolor suscipit, volutpat ex nec, gravida leo. Pellentesque vestibulum mollis ipsum, eu posuere lorem euismod vehicula.
					</p>
				</main>
					
				<section id="buttons">
					<button onclick="onOff()">+ Adicionar ideia</button>
					<a href="/ideias" class="button">Ver todas</a>
				</section>
	
				<footer>Com ❤ <a href="https://rocketseat.com" target="_blanck">Rocketseat</a></footer>
			</section>
			
			<section id="last-ideas">
				{% include "all_ideas.html" %}
			</section>
		</div>
		
		
		<!--MODAL-->
		{% include "modal.html" %}
		
		
		
		<script src="/script.js"></script>
	</body>
</html>
